<footer class="footer">
   <small>
    <%= t(".left",
      rails_link: link_to(t(".rails_txt"), Settings.footer.rails_link),
      michale_link: link_to(t(".michale_txt"), Settings.footer.michale_link)).html_safe
    %>
   </small>
   <nav>
      <ul>
         <li><%= link_to t(".about"), about_path %></li>
         <li><%= link_to t(".contact"), contact_path %></li>
         <li><%= link_to t(".news"), Settings.footer.rails_news_link %></li>
      </ul>
   </nav>
</footer>
